.area-card {
  background-color: #28112B;
  height: 100%;
  width: 40%;
  text-align: center;
  color: white;
}

.area-card:hover {
  background-color: #788475;
  box-shadow: 5px 5px 5px #453643;
}

@media only screen and (max-width: 850px) {
  .area-card {
    background-color: #28112B;
    width: 80%;
    font-size: 8px;
    font-weight: lighter;
    overflow-y: hidden;
    text-align: center;
    
    color: white;
  }
}
