
.area-card {
  background-color: #5b6c5d;
  width: 24.3%;
  text-align: center;
  color: white;
  border-radius: 4rem;
}

.shrink {
  height: 5%;
  width: 12.15%;
}

.area-photo {
  width: 21rem;
  border-radius: 4rem;
  width: 100%;
}

.area-card:hover {
  background-color: #453643;
  box-shadow: 5px 5px 5px #453643;
}

@media only screen and (max-width: 850px) {
  .area-card {
    background-color: #28112B;
    width: 80%;
    font-size: 8px;
    font-weight: lighter;
    overflow-y: hidden;
    text-align: center;
    
    color: white;
  }
}
