.project-card {
  text-decoration: none;
  background: #F3F8F6;
  width: 30%;
  text-align: center;
  color: #7E7579;
  border: 5px solid #7E7579;
}

.project-card:hover {
  box-shadow: 5px 5px 5px #453643;
}


@media only screen and (max-width: 650px) {
  .project-card {
    background-color: #28112B;
    text-decoration: none;
    width: 40%;
    font-size: 12px;
    text-align: center;
    color: white;
  }
}