.video-page-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 10px solid #7F7B7D;
  width: 50%;
  padding-bottom: 2%;
  /* margin: 0% 5% 7% 5%; */
}


.saved-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 10px solid rgb(139, 181, 160);
  width: 35%;
  padding: 0 9rem;
  margin: 0% 5% 7% 5%;
}

.video-container h3 {
  color: black;
}

summary {
  background: #453643;
  width: 40rem;
  color: white;
  text-align: center;
}

details {
  text-align: center;
}

.tools-list {
  list-style-type: none;
  font-size: 36px;
  margin-bottom: 1.5%;
}

button {
  height: 5rem;
  width: 10rem;
  margin-top: 3%;
  background-color: rgb(139, 181, 160);
  border: none;
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  .video-container {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    background-color: #788475;
    border: 10px solid #4c4f4b;
    box-shadow: 7px 7px 7px #28112B;
    width: 70%;
    margin-left: 15%;
  }

  iframe {
    width: 60%;
    height: 60%;
  }
}