.video-page-container {
  display: flex;
  height: 75vh;
}

.video-container {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  background-color: #28112B;
  border: 10px solid #453643;
  box-shadow: 7px 7px 7px #788475;
  width: 50%;
  margin-left: 5%;
}

button {
  height: 7%;
  width: 30%;
  margin-left: 3%;
  margin-top: 3%;
  background-color: #7D8491;
}

@media only screen and (max-width: 800px) {
  .video-container {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    background-color: #788475;
    border: 10px solid #4c4f4b;
    box-shadow: 7px 7px 7px #28112B;
    width: 70%;
    margin-left: 15%;
  }

  iframe {
    width: 60%;
    height: 60%;
  }
}