.area-card {
  background-color: #28112B;
  width: 20%;
  text-align: center;
  box-shadow: 5px 5px 5px #453643;
  color: white;
}

.area-card:hover {
  background-color: #788475;
}

.area-photo {
  height: 20%;
  width: 100%;
}